<a href="https://colab.research.google.com/github/pjo7/Major-Project-1-Weather-Prediction/blob/main/Major_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
df=pd.read_csv('/content/sample_data/Weather Data in India from 1901 to 2017.csv')
df=df.drop(columns='Unnamed: 0')
df

,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,AVG
0,1901,17.99,19.43,23.49,26.41,28.28,28.60,27.49,26.98,26.26,25.08,21.73,18.95,24.224167
1,1902,19.00,20.39,24.10,26.54,28.68,28.44,27.29,27.05,25.95,24.37,21.33,18.78,24.326667
2,1903,18.32,19.79,22.46,26.03,27.93,28.41,28.04,26.63,26.34,24.57,20.96,18.29,23.980833
3,1904,17.77,19.39,22.95,26.73,27.83,27.85,26.84,26.73,25.84,24.36,21.07,18.84,23.850000
4,1905,17.40,17.79,21.78,24.84,28.32,28.69,27.67,27.47,26.29,26.16,22.07,18.71,23.932500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112,2013,18.88,21.07,24.53,26.97,29.06,28.24,27.50,27.22,26.87,25.63,22.18,19.69,24.820000
113,2014,18.81,20.35,23.34,26.91,28.45,29.42,28.07,27.42,26.61,25.38,22.53,19.50,24.732500
114,2015,19.02,21.23,23.52,26.52,28.82,28.15,28.03,27.64,27.04,25.82,22.95,20.21,24.912500
115,2016,20.92,23.58,26.61,29.56,30.41,29.70,28.18,28.17,27.72,26.81,23.90,21.89,26.454167
116,2017,20.59,23.08,25.58,29.17,30.47,29.44,28.31,28.12,28.11,27.24,23.92,21.47,26.291667

In [21]:
x = df.iloc[0:118,0].values 
x=x.reshape(-1,1)
x

array([[1901],
       [1902],
       [1903],
       [1904],
       [1905],
       [1906],
       [1907],
       [1908],
       [1909],
       [1910],
       [1911],
       [1912],
       [1913],
       [1914],
       [1915],
       [1916],
       [1917],
       [1918],
       [1919],
       [1920],
       [1921],
       [1922],
       [1923],
       [1924],
       [1925],
       [1926],
       [1927],
       [1928],
       [1929],
       [1930],
       [1931],
       [1932],
       [1933],
       [1934],
       [1935],
       [1936],
       [1937],
       [1938],
       [1939],
       [1940],
       [1941],
       [1942],
       [1943],
       [1944],
       [1945],
       [1946],
       [1947],
       [1948],
       [1949],
       [1950],
       [1951],
       [1952],
       [1953],
       [1954],
       [1955],
       [1956],
       [1957],
       [1958],
       [1959],
       [1960],
       [1961],
       [1962],
       [1963],
       [1964],
       [1965],
       [1966],
       [1967],
       [1968],
       [1969],
       [1970],
       [1971],
       [1972],
       [1973],
       [1974],
       [1975],
       [1976],
       [1977],
       [1978],
       [1979],
       [1980],
       [1981],
       [1982],
       [1983],
       [1984],
       [1985],
       [1986],
       [1987],
       [1988],
       [1989],
       [1990],
       [1991],
       [1992],
       [1993],
       [1994],
       [1995],
       [1996],
       [1997],
       [1998],
       [1999],
       [2000],
       [2001],
       [2002],
       [2003],
       [2004],
       [2005],
       [2006],
       [2007],
       [2008],
       [2009],
       [2010],
       [2011],
       [2012],
       [2013],
       [2014],
       [2015],
       [2016],
       [2017]])

In [22]:
y = df.iloc[:,13].values
y

array([24.22416667, 24.32666667, 23.98083333, 23.85      , 23.9325    ,
       24.1       , 24.0075    , 23.95      , 23.77833333, 23.76083333,
       23.95416667, 24.10583333, 23.8825    , 24.03416667, 24.28833333,
       24.075     , 23.57083333, 23.82583333, 24.0125    , 23.90833333,
       24.58416667, 24.22416667, 24.0475    , 24.14083333, 23.95      ,
       24.055     , 23.94      , 24.29      , 24.08083333, 23.93083333,
       24.43583333, 24.2075    , 23.91583333, 24.13166667, 24.0625    ,
       24.12416667, 23.98083333, 23.98333333, 24.01083333, 24.04583333,
       24.65916667, 24.2925    , 23.94916667, 24.04083333, 23.91583333,
       24.41833333, 24.35833333, 24.10333333, 24.08583333, 23.735     ,
       24.24666667, 24.34416667, 24.58      , 24.12666667, 23.9675    ,
       23.95083333, 23.9675    , 24.62166667, 24.29416667, 24.28583333,
       24.0025    , 24.04416667, 24.14833333, 24.09416667, 24.065     ,
       24.355     , 24.11083333, 23.94083333, 24.4575    , 24.265     ,
       23.90916667, 24.10166667, 24.40583333, 24.00083333, 23.74416667,
       24.0675    , 24.35      , 24.23833333, 24.56666667, 24.5475    ,
       24.26583333, 24.15333333, 24.11916667, 24.25416667, 24.44416667,
       24.20583333, 24.57083333, 24.42166667, 24.03333333, 24.21833333,
       24.28083333, 24.1475    , 24.42916667, 24.46416667, 25.28      ,
       24.6575    , 24.25416667, 24.695     , 24.66083333, 24.57666667,
       24.81416667, 25.03166667, 24.7       , 24.79916667, 24.57666667,
       25.0125    , 24.7675    , 24.6125    , 25.1125    , 25.18916667,
       24.71083333, 24.67833333, 24.82      , 24.7325    , 24.9125    ,
       26.45416667, 26.29166667])

In [23]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,random_state = 0)

In [24]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [25]:
model.fit(x,y)

LinearRegression()

In [26]:
model.fit(x_train,y_train)

LinearRegression()

In [27]:
import joblib
joblib.dump(model,'Weather Prediction')

['Weather Prediction']

In [11]:
!pip install streamlit --quiet

In [28]:
%%writefile app.py
#%%writefile app.py is a magic command which creates a file named app.py
import streamlit as st
import joblib
model = joblib.load('Weather Prediction')
st.title('WEATHER PREDICTOR')
ip = st.text_input('Enter a Year',value=0)
op = model.predict([[ip]])
if st.button('Predict'):
  st.title(op[0])#st.button will create a button with name predict
  #st.title(op[0]) - the output will be displayed as a title

Overwriting app.py

In [29]:
!streamlit run app.py & npx localtunnel --port 8501

2022-07-09 18:09:49.758 INFO    numexpr.utils: NumExpr defaulting to 2 threads.
npx: installed 22 in 2.537s
your url is: https://some-dodos-relate-34-86-236-215.loca.lt

  You can now view your Streamlit app in your browser.

  Network URL: http://172.28.0.2:8501
  External URL: http://34.86.236.215:8501

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:566: FutureWarning: Arrays of bytes/strings is being converted to decimal numbers if dtype='numeric'. This behavior is deprecated in 0.24 and will be removed in 1.1 (renaming of 0.26). Please convert your data to numeric values explicitly instead.
  X = check_array(X, **check_params)
/usr/local/lib/python3.7/dist-packages/sklearn/base.py:566: FutureWarning: Arrays of bytes/strings is being converted to decimal numbers if dtype='numeric'. This behavior is deprecated in 0.24 and will be removed in 1.1 (renaming of 0.26). Please convert your data to numeric values explicitly instead.
  X = check_array(X, **check_params)
/usr/local/lib/python3.7/dist-packages/sklearn/base.py:566: FutureWarning: Arrays of bytes/strings is being converted to decimal numbers if dtype='numeric'. This behavior is deprecated in 0.24 and will be removed in 1.1 (renaming of 0.26). Please convert your data to numeric values explicitly instead.
  X = check_array(X, **check_params)
/usr/local/lib/python3.7/dist-packages/sklearn/base.py:566: FutureWarning: Arrays of bytes/strings is being converted to decimal numbers if dtype='numeric'. This behavior is deprecated in 0.24 and will be removed in 1.1 (renaming of 0.26). Please convert your data to numeric values explicitly instead.
  X = check_array(X, **check_params)
  Stopping...
^C